*.pyc
build
dist
*.egg-info
venv
client.pem
run/
MANIFEST
MANIFEST.in
.pyre/
.vscode/settings.json
.vscode/launch.json
/.idea/
/node_modules
tools/frigate-events.log
tools/config.json
*.log
tools/recent-events-response.json
tools/driveway.json
test-docker-compose.yaml
